#summaryBack{
  background-color: rgba(0, 0, 0, 0.2);
  width: 1440px;
  height: 931px;
  /* height: 775px; */
  z-index: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}
#popContainer{
  float: right;
    top: 0px;
    left: 514px;
    width: 926px;
    height: 90px;
    background: #5861AE 0% 0% no-repeat padding-box;
    opacity: 1;
}
.head{
  background-color: #5861AE;
  color: #FFFFFF;
  display: flex;
  justify-content: space-between;
}
.summaryHead{
  /* font-size:x-large; */
  margin-left: 10px;
  font: normal normal 600 22px/20px Open Sans;
}
.close-B{
  margin: 10px;
  border: none;
  background-color: #5861AE;
  color: #FFFFFF;
}
.storeDetail{
    display: flex;
    justify-content: space-between;
    background: #F4F9FF 0% 0% no-repeat padding-box;
}

.B-div{
  margin-top: -60px;
  background-color: rgb(131, 130, 130);
  /* margin-top: 60%;*/
  background: #F4F4F4 0% 0% no-repeat padding-box;
  box-shadow: 0px -3px 6px #00000015;
  opacity: 1;
  height: 120px; 
}
.confirm-B {
  margin-left: 1rem;
  padding: 0.25rem 1rem;
  border: 2px solid #5861AE;
  border-radius: 4px;
  color: #5861AE;
  background-color: white;
  float: right;
  margin: 20px;
}
.confirm-B:hover{
  background-color: #5861AE;
  color: white;
}
.A-container{
  border:2px solid #5861AE;
  margin-left: 25px;
  /* display: flex; */
  /* justify-content: space-between; */
  width: 200px;
  height: 90px;
  border-radius: 4%;

}
.add{
  display: flex;
  justify-content: space-between;
}

.location, .storeAddress,.phone{
  width: 30%;
  margin-left: 10px;
  margin-top: -10px;
}

#product-cart{
  display: flex;
}
.userAdd{
  margin-top: -70px;
  height: 350px;
  background-color: #FFFFFF;
}
#use_Add{
  padding-top: 25px;
  margin-left: 20px;
}

/* hard coded */
.orderDetails{
  /* margin-top: -20px; */
  height: 550px;
  background-color: #FFFFFF;
}
.ord{
  padding-top: 25px;
  margin-left: 20px;
}
.o_ds{
  display: flex;
  width: 90%;
  margin-left: 20px;
  margin-top: 40px;
  border-bottom: 2px solid rgb(221, 220, 220);
}
.item_ns{
  margin-left: -40px;
  width: 300px;
  text-align: left;
  font: normal normal normal 18px/24px Open;
  font-family: sans-serif;
  letter-spacing: 0.43px;
  color: #1B2734;
  opacity: 1;
}
.item_ts{
  text-align: left;
  width: 350px;
  font: italic normal normal 16px/22px Open;
  font-family: sans-serif;
  letter-spacing: 0.38px;
  color: #1B2734;
  opacity: 1;
}
.item_ps{
  text-align: left;
  display: flex;
  font: normal normal 600 16px/22px Open;
  font-family: sans-serif;
  letter-spacing: 0.38px;
  color: #1B2734;
  opacity: 1;
}
.item_ps p{
  margin-top: -5px;
  text-align: left;
  font: normal normal 600 20px/27px Open;
  font-family: sans-serif;
  letter-spacing: 0.48px;
  color: #5861AE;
  opacity: 1;
}
.sub_ts{
  float: right;
  /* margin-top: px; */
  border-bottom: 2px solid rgb(216, 213, 213);
  margin-right: 30px;
}
.picks{
  /* margin-top: -20px; */
  padding-top: 20px;
  border-top: 2px solid rgb(224, 224, 224);
}
.total{
  margin-top: -10px;
  margin-right: 20px;
  width: 98%;
  height: 60px;
  float: right;
  background: #5861AE 0% 0% no-repeat padding-box;
  opacity: 1;
  color: #FFFFFF;
}
.total p{
  float: right;
  margin-right: 20px;
  color: #FFFFFF;
}